<div class="registro-container">
  <div class="registro-box">
    <h2>Registro</h2>
    <form>
      <div class="textbox">
        <input type="text" placeholder="Nombre de Usuario" required />
      </div>
      <div class="textbox">
        <input type="email" placeholder="Correo Electrónico" required />
      </div>
      <div class="textbox">
        <input type="password" placeholder="Contraseña" required />
      </div>
      <div class="textbox">
        <input type="password" placeholder="Confirmar Contraseña" required />
      </div>
      <input type="submit" value="Registrar" class="btn-submit" />
    </form>
  </div>
</div>
